<li class="media comment">
  <div class="media-body">
    <h4 class="media-heading">
      <% if comment.user.username == current_user.username %>
        <%= link_to comment.user.username, user_path(comment.user.username) %> says
      <% else %>
        <%= link_to comment.user.username, profile_path(comment.user.username) %> says
      <% end %>
      <small class="text-muted">[at <%= comment.created_at.strftime('%-d %B %Y, %H:%M:%S') %>]</small></h4>
    <p><%= comment.body %></p>
  </div>
</li>